//------------------------------------------------------------
// = BUTTONS
//------------------------------------------------------------
.btn{padding: 15px 30px; font-weight: $font-bold; display: inline-block; transition: $transition; border-radius: $border-radius;}

.btn-primary{background: $color-secondary; color: $color-base-inverse;
  &:hover{color: $color-base-inverse !important; background: $color-secondary-darken;}
}
.btn-secondary{background: $color-quaternary; color: $color-base-inverse;
  &:hover{color: $color-base-inverse !important; background: $color-quaternary-darken;}
}

.btn-ghost{color: $color-secondary-darken; border: 1px solid $color-secondary-darken;
  &:hover{color: $color-base-inverse !important; background: $color-secondary-darken;}
}

.btn-ghost-light{color: $color-base-inverse; border: 1px solid $color-base-inverse;
  &:hover{color: $color-base-inverse !important; background: $color-secondary-darken; border: 1px solid $color-secondary-darken;}
}
.btn-ghost-light-1{color: $color-base-inverse; border: 1px solid $color-base-inverse;
  &:hover{color: $color-base-inverse !important; background: $color-quaternary; border: 1px solid $color-quaternary;}
}

.btn-ghost-inverse {background: $color-base-inverse; border: 1px solid transparentize($color-base-inverse, .0);
  &:hover{color: $color-base-inverse !important; border: 1px solid $color-base-inverse; background: none;}
}
.btn-ghost-inverse.btn-secondary{color: $color-secondary;}
.btn-ghost-inverse.btn-tertiary{color: $color-tertiary;}

.button-group{
  a.btn{margin: 10px;
    &:last-child{margin-right: 0;}
  }
}