//------------------------------------------------------------
// = PHONE
//------------------------------------------------------------
.btn {padding: 8px 20px !important; font-size: 12px !important;}

.navbar{&.sticky-header{position: relative !important;}}
.banner1{
  .banner1-content{width: 100%;
    .banner-title{font-size: 24px !important;}
    .banner-description {font-size: 12px !important; line-height: 20px !important; margin: 4px auto 10px !important;}
  }
}


.tab {
  .nav-tabs {padding: 30px 0;
    li {display: block; padding: $buffer;
    }
  }
  &.tab1 {
    .nav-tabs {
      &.v2{li{display: inline-block;}}
    }
  }
  &.tab2{
    .nav-tabs{margin-bottom: 40px;
      li{display: inline-block !important;
        a{}
      }
    }
    .tab-content{
      .tab2-container{margin: 0 0 30px;}
      .description-wrapper{padding: 20px 0 0;}
    }
  }
  &.tab3{
    .item{margin: auto -5px 30px;
      li{margin: 5px;}
    }
  }
}

.navbar-nav{
  .stk-logo{
    padding: 10px 0;
  }
}

.list{
  &.list1{
    .list1-item{
      a{font-size: 18px; line-height: 28px;
      }
    }
  }
  &.list2{
    .list2-item{
      .title{font-size: 18px; line-height: 20px;}
      .description{font-size: 14px; line-height: 18px;}
    }
  }
}

.accordion{
  .panel-title{font-size: 18px; line-height: 20px;}
  .panel-body{font-size: 14px;
    .content{max-width: initial;}
  }
  &.accordion1{.panel-title{font-size: 18px !important;}}
  &.accordion2, &.accordion3, &.accordion4{.panel-title{font-size: 18px !important; line-height: 20px;}}
}

.card1{
  .card1-item{width: 100%; margin: 15px 0; padding: 15px;
    .card1-title{font-size: 18px; margin: 20px 0 20px;}
  }
}

.card2{
  .card2-item{margin: 0 0 20px;}
}
.card4{
  .card4-item{
    .card4-description{font-size: 14px;}
    .btn{padding: 15px 30px !important; font-size: 14px !important;}
  }
}

.card6{
  .item{
    .left{width: 100%; float:none;}
    .right{width: 100%; float:none;}
  }
}

.section{padding: 60px 0 30px;
  &.section8 {padding: 100px 0 !important;
    .section-description{font-size: 18px !important; margin: 0 0 30px;}
  }
  .section-title{font-size: 24px !important; line-height: normal !important;}
  .section-description{font-size: 14px !important; line-height: 26px !important; margin: 0 0 70px;}
  &.section2{
    .section-title{margin: 0 0 15px;}
    .section-description{margin: 0 0 20px;}
  }
}

.menu1{
  ul{
    li{
      &:first-child{margin-bottom: 20px;}
    }
  }
}

.filter{
  .filter-content{
    .filter-text{font-size: 16px;}
    .filter-box{
      .filter-item{font-size: 18px; margin: 0 10px;}
    }
  }
}


.pagination{ margin:0 auto 20px;
  ul{
    li{
      a{width: 25px; height: 25px; line-height: 25px;}
    }
  }
}

.subpage{font-size: 14px; line-height: 28px;
  .page-title{font-size: 27px;}
  .section-title {font-size: 24px; line-height: 35px;}
  .section-description {font-size: 14px !important;}
  .section-description-alternate{font-size: 18px; line-height: 30px;}
}

#main-404{
  padding-top: 50px;
  img{
    width:200px;
  }
  p{
    margin-top:30px;
    margin-bottom: 30px;
  }
}