//------------------------------------------------------------
// = TABLET LANDSCAPE
//------------------------------------------------------------
.logoarea{
  img{width: auto; max-height: 35px;}
}

.navbar-nav{
  li{
    a{padding: 10px !important;
      &.btn{color: $color-bg !important;}
    }
    &.dropdown{
      a{pointer-events: auto !important;}
    }
  }
}
