//------------------------------------------------------------
// = TABLET PORTRAIT
//------------------------------------------------------------

.card4{
  .card4-wrapper{width: 100%;}
  .btn{padding: 15px 30px;}
}

.sticky-header{position: relative !important;}
.navbar1-wrapper{flex-wrap: wrap;
  .logoarea{padding:  15px !important;}
  .navbar-nav-toggle{padding:  15px !important;}
}
.navbar-nav{flex: 100%; display: none; order: 2;
  li{display: block; float: left; width: 100%; border-bottom: 1px solid $color-base-lighter4; &:last-child{border-bottom: none;}
    a{font-size: 12px; text-transform: capitalize !important; padding: 10px 15px !important;
      &.btn{padding: 10px 15px !important; background: none; color: $color-secondary !important;}
    }
    ul{position: relative !important; border: none !important;
      li{
        &:last-child{border-bottom: none;}
        a{color: $color-secondary;}
      }
    }
  }
}

.filter{
  .filter-content{padding: 50px 0;
    .filter-text{left:50%; top: 20%; transform: translate(-50%, 0);}
    .filter-box{top: 58%; transform: translate(-50%, 0); width: 100%; text-align: center;
    }
  }
}

.subpage{padding: 30px 0;}
.section{
  .page-title{width: 100%;}
  &.section5{
    .page-title{font-size: 28px;}
  }
}
